@import url(/css/components/variables.css);
@import url(/css/components/nav.css);
@import url(/css/components/about.css);
@import url(/css/components/footer.css);
@import url(/css/components/portfolio.css);
@import url(/css/components/contact.css);

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

.p-break {
  margin-top: 2rem;
}

h1 {
  color: var(--font-color);
  font-style: oblique;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

img {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #eeeeee;
}

.me-photo {
  background-image: url(/images/me_cropped_frame.jpeg);
  height: 70vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  flex: 1;
}

#logo {
  max-width: 120px;
  display: flex;
}

.main {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: burlywood;
}

.intro {
  display: flex;
  margin: 0 2rem 0 2rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
  scroll-margin: 8rem;
}

.me-content {
  flex: 1;
  text-align: center;
  align-self: center;
  font-size: 4rem;
}

.show {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

@media (max-width: 790px) {
  .intro {
    display: flex;
    flex-direction: column;
  }

  .me-content {
    font-size: 3rem;
    flex: 0;
    margin-top: 6rem;
  }

  main {
    display: flex;
    flex-direction: column;
  }
}
