@import url(/css/components/nav.css);

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    background-color: #EEEEEE;
}


.main {
    background-image: url(/images/me.jpeg);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 40%;
}