#about-me {
  height: 100vh;
  scroll-margin-top: rem;
}

.about {
  display: flex;
  gap: 1rem;
  background-color: var(--header-color);
  height: 100vh;
  color: var(--font-color);
  align-items: center;
  justify-content: space-evenly;
  gap: 5rem;
  padding: 2rem;
}

.about-text {
  max-width: 500px;
  display: flex;
  justify-content: center;
}

@media (max-width: 791px) {
  .about {
    flex-direction: column;
  }
}
