.contact {
  height: 100vh;
  width: 100%;
  scroll-margin-top: 5.7rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--header-color);
}

.contact-container {
  width: 100%;
  height: 600px;
  background: linear-gradient(45deg, var(--header-color) 50%, burlywood 50%);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

.contact-text {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.contact p {
  font-size: 2rem;
  gap: 2rem;
  margin-bottom: 2rem;
}

.contact h2 {
  margin: 0 0 2rem 2rem;
  font-size: 4rem;
}

@media (max-width: 420px) {
  .contact p,
  .contact h2 {
    font-size: 1.5rem;
  }
}
