.footer {
  background-color: var(--font-color);
  padding: 5rem;
  color: white;
  margin: auto;
  text-align: center;
  box-shadow: var(--box-shadow);
}

.social {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 2rem;
}

.social a {
  /* color: white; */
  font-weight: 600;
  transition: all 0.3s ease;
  background-color: var(--header-color);
  padding: 0.8rem;
  border-radius: 3px;
}

.social a:hover {
  transform: translateY(-3px);
  transition: all 0.3s ease;
  text-decoration: underline;
}
