.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: #5eb89a;
  box-shadow: var(--box-shadow);
  .nav-item {
    &:hover {
      text-decoration: underline;
    }
  }
}
.header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-link[aria-current="location"] {
  text-decoration: underline 0.25rem;
  text-underline-offset: 0.3rem;
}

nav a {
  /* text-decoration: none; */
  color: var(--font-color);
  font-weight: 600;
}

.nav-menu {
  background-color: var(--background-color);
  padding: 0.3rem;
}

.bar {
  display: flex;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  background-color: var(--font-color);
}

@media (max-width: 790px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* .nav-menu {
    position: absolute;
    right: -100%;
    display: none;
    top: 93px;
    font-size: 1.5rem;
    z-index: 50;
    gap: 0;
    flex-direction: column;
    background-color: var(--header-color);
    width: 100%;
    height: 70vh;
    text-align: center;
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }

  .nav-item {
    margin: 56px 0;
  }

  .nav-menu.active {
    left: 0;
    display: block;
    transform: translateX(0);
    transition: all 0.8s ease;
  } */
  .nav-menu {
    position: fixed;
    top: 94px;
    right: 0;
    bottom: 0;
    width: 78%;
    height: 55%;
    background-color: var(--header-color);
    transform: translateX(100%);
    transition: transform 0.5s ease;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
  }

  .nav-item {
    margin: 2rem 0; /* Adjusted margin */
  }

  .nav-menu.active {
    transform: translateX(0);
    transition: transform 0.5s ease;
  }
}

@media (min-width: 791px) {
  nav {
    display: flex;
    gap: 3rem;
    justify-content: center;
    font-size: 1.3rem;
    align-items: start;
  }

  .hamburger {
    display: none;
  }
  .nav-menu {
    display: flex;
    gap: 3rem;
  }
}
